<!--
  Generated template for the ProfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profil</ion-title>
    <button (click)="goToConnect()">Connect</button>
  </ion-navbar>

</ion-header>


<ion-content>
  <p>nom: {{(profileData | async)?.nom}}</p>
  <p>prenom: {{(profileData | async)?.prenom}}</p>



  <ion-item>
    <ion-item class="bg" style="background-image: url('http://static3.uk.businessinsider.com/image/589a1765dd0895cb6e8b49f8-1200/.jpg')"></ion-item>
    <ion-avatar ion-row class="avatar">
      <img src='http://static3.uk.businessinsider.com/image/589a1765dd0895cb6e8b49f8-1200/.jpg'>
    </ion-avatar>
    <ion-row class="fg">
      <ion-col text-center>
        <h1>{{user.user_firstname}} {{user.user_lastname}}</h1>
        <h2>{{user.user_field}} - {{user.user_city}}</h2>
      </ion-col>
      <ion-col class="mg">
        <button outline item-right>
          <ion-icon name="brush"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-item>
  <div text-center>
    <button *ngFor="let hashtag of user.user_hashtag" ion-button round outline>{{hashtag}}</button>
  </div>


<form name="form1" (ngSubmit)="valider(form)" *ngIf="showInputBar1" >
    <ion-item>
      <ion-label floating>Information à ajouter</ion-label>
      <ion-input name="info1" type="text" [(ngModel)]="form.information"></ion-input>
    </ion-item>
    <div text-center>
        <button ion-button color="primary" type="submit">Valider</button>
    </div>
  </form>
  <ion-item text-center>
    <p>{{user.user_lol}}</p>
    <button (click)="clickedBrushIcon1($event)" item-right>
      <ion-icon name="brush"></ion-icon>
    </button>
  </ion-item>


  <form name="form2" (ngSubmit)="valider(form)" *ngIf="showInputBar2" >
      <ion-item>
        <ion-label floating>Information à ajouter</ion-label>
        <ion-input name="info2" type="text" [(ngModel)]="form.information"></ion-input>
      </ion-item>
      <div text-center>
          <button ion-button color="primary" type="submit">Valider</button>
      </div>
    </form>
  <ion-item  text-center>
    <p>{{user.user_purpose}}</p>
    <button (click)="clickedBrushIcon2($event)" item-right>
      <ion-icon name="brush"></ion-icon>
    </button>
  </ion-item>


  <form name="form3" (ngSubmit)="valider(form)" *ngIf="showInputBar3" >
      <ion-item>
        <ion-label floating>Information à ajouter</ion-label>
        <ion-input name="info3" type="text" [(ngModel)]="form.information"></ion-input>
      </ion-item>
      <div text-center>
          <button ion-button color="primary" type="submit">Valider</button>
      </div>
    </form>
  <ion-item text-center>
    <p>{{user.user_contact}}</p>
    <button (click)="clickedBrushIcon3($event)" item-right>
      <ion-icon name="brush"></ion-icon>
    </button>
  </ion-item>


  <form name="form4" (ngSubmit)="valider(form)"  *ngIf="showInputBar4" >
    <ion-item>
      <ion-label floating>Information à ajouter</ion-label>
      <ion-input name="info4" type="text" [(ngModel)]="form.information"></ion-input>
    </ion-item>
    <div text-center>
        <button ion-button color="primary" type="submit">Valider</button>
    </div>
  </form>
  <ion-item text-center>
    <p>{{user.user_institution}}</p>
    <button (click)="clickedBrushIcon4($event)" item-right>
      <ion-icon name="brush"></ion-icon>
    </button>
  </ion-item>



</ion-content>
